/data_analysis2_1.py
/data_analysis_1.py
/data_analysis_2.py
/data_analysis_3.ipynb
/data_analysis_3.py
/data_analysis_4.ipynb
/data_analysis_4.py
/data_analysis_5.ipynb
/data_analysis_5.py
/data_analysis_6.py
/data_analysis_7.py
/data_analysis_8.py
/demo1.npy
/try.py
/try_2.py